/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Petrona&family=Quicksand:wght@300&family=Tinos&display=swap');

.hero {
  background: url('dragonfly1.png') no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
}

body {
  font-family: 'Petrona', serif;
  padding: 12px;
  background: url('dragonfly1.png') no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

body h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
}

body h1 {
   text-align: center;
   font-family: 'Tinos', serif;
   font-size: 36px;
   color: #008B8B;
   display: inline;
}

body li {
   display: inline-block;
}

.row {
  width: 100%;
  padding: 20px;
  display: inline-flex;
  justify-content: space-around;

}

.column h2 h3 p{
  width: 50%;
  padding: 20px;
  align-content: center;
}

.search {
  text-align: right;
}

.navbar {
  background-color: #F8EBE6;
  font-family: 'Petrona', serif;
  padding: 5px 5px;
  text-align: left;
  color: #663399;
}

.navbar ul {
  text-align: right;
  margin-left: 0;
  margin-right: 0;
}

.navbar ul li {
 text-align: right;
 list-style: none;
 display: inline-block;
 padding: 10px;
}

.notice {
  color: #663399;
  font-size: 24px;
}
